# PostgreSQL Container Environment Configuration
POSTGRES_DB=user_crud_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Spring Boot Backend DataSource Environment Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/user_crud_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
